node_modules
dist
dist-ssr
*.local

# env
.env*.local

# editor
.DS_Store
.idea
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# build artifacts
*.tsbuildinfo

# vercel
.vercel
