@font-face {
  font-family: "Roboto";
  src: url('../public/fonts/roboto/Roboto-Black.ttf');
  src: url('../public/fonts/roboto/Roboto-Medium.ttf');
  src: url('../public/fonts/roboto/Roboto-Regular.ttf');
}
      



@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  overflow-y: hidden;
  font-family: Roboto;
}
