@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Black.ttf");
  src: url("../public/fonts/roboto/Roboto-Medium.ttf");
  src: url("../public/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../public/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../public/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Montserrat;
}

video {
  object-fit: none;
  max-width: none;
}
